::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #cccccc;
  font-weight: 300;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #cccccc;
  opacity: 1;
  font-weight: 300;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #cccccc;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cccccc;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cccccc;
  font-weight: 300;
}

body {
  color: #222;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  position: relative;
  overflow-x: hidden;
}


ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  display: block;
}

figure {
  margin: 0;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;

}

a:hover {
  text-decoration: none!important;
}

iframe {
  border: 0;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #222222;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}

.h1, .h2, .h3,
.h4, .h5, .h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #222222;
}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
  color: #222222;
}

td, th {
  border-radius: 0px;
}

.col-push {
  left: 50%;
}

.col-pull {
  right: 50%;
}

.clear::before, .clear::after {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-italic {
  font-style: italic;
}

.text-white {
  color: #fff;
}

.transition {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.section-full {
  padding: 150px 0;
}

.section-half {
  padding: 75px 0;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.flex-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-top {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.flex-bottom {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
}

.flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.display-table {
  display: table;
}

.light {
  color: #fff;
}

.dark {
  color: #000;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.container.fullwidth {
  width: 100%;
}

.container.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-padding {
  padding: 0;
}

.section-bg {
  background: #f9fafc;
}

@media (max-width: 767px) {
  .no-flex-xs {
    display: block !important;
  }
  .contact-section::after {
    width: 100%;
    right: 0;
  }
  .contact-info {
    margin-bottom: 95px;
  }
}

.row.no-margin {
  margin-left: 0;
  margin-right: 0;
}

.primary-btn {
  line-height: 40px;
  padding: 0 40px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid #00ff8c;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin-top: 100px;
  margin-bottom: 50px;
  text-decoration: none!important;
  font-family: 'Montserrat', sans-serif;
}

.primary-btn:focus {
  outline: none;
}

.primary-btn:hover {
  background: #00ff8c;
  color: #222;
  box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
}

.primary-btn2 {
  line-height: 40px;
  padding: 0 40px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid #00ff8c;
  color: #222;
  display: inline-block;
  font-weight: 500;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none!important;
  font-family: 'Montserrat', sans-serif;
}

.primary-btn2:focus {
  outline: none;
}

.primary-btn2:hover {
  background: #00ff8c;
  color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
}

.details-btn {
  border: 1px solid #00ff8c;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.details-btn .details {
  visibility: hidden;
  opacity: 0;
  margin-left: -53px;
  font-weight: 600;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.details-btn:hover {
  width: 140px;
  background: #00ff8c;
  box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
}

.details-btn:hover .details {
  margin-left: 0;
  visibility: visible;
  opacity: 1;
  margin-right: 20px;
}

.details-btn:hover span {
  color: #fff;
  font-weight: 600;
}

.default-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.default-header .right-bar {
  position: relative;
}

.default-header nav .main-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

@media (max-width: 767px) {
  .default-header nav .main-menu {
    display: none;
  }
}

.default-header nav .main-menu a {
  display: inline-block;
  color: #fff;
  margin: 0 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 991px) {
  .default-header nav .main-menu a {
    margin: 0 5px;
  }
  .contact-section::after {
    width: 100%;
    right: 0;
  }
  .contact-info {
    margin-bottom: 95px;
  }
  .col-push {
    left: 0;
  }
  .col-pull {
    right: 0;
  }
}

.default-header nav .main-menu a:hover {
  color: #00ff8c;
  text-decoration: none;
}

.default-header nav .mobile-btn {
  display: none;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 767px) {
  .col-push {
    left: 0;
  }
  .col-pull {
    right: 0;
  }
  .default-header .main-menu {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    background: #527cba;
    padding: 30px 20px;
  }
  .default-header .main-menu a {
    margin: 5px 20px !important;
  }
  .default-header .mobile-btn {
    display: block !important;
    font-size: 36px !important;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.sticky-header {
  padding: 15px 0;
}

.is-sticky .sticky-header {
  background: -moz-linear-gradient(left, rgba(82, 124, 186, 0.95) 0%, rgba(42, 203, 251, 0.95) 100%);
  background: -webkit-linear-gradient(left, rgba(82, 124, 186, 0.95) 0%, rgba(42, 203, 251, 0.95) 100%);
  background: linear-gradient(to right, rgba(82, 124, 186, 0.95) 0%, rgba(42, 203, 251, 0.95) 100%);
}


.banner-area {
  background: url(../img/banner.jpg) no-repeat center center/cover;
}

.banner-area .overlay-bg {
  background: -moz-linear-gradient(left, rgba(82, 124, 186, 0.95) 0%, rgba(42, 203, 251, 0.95) 100%);
  background: -webkit-linear-gradient(left, rgba(82, 124, 186, 0.95) 0%, rgba(42, 203, 251, 0.95) 100%);
  background: linear-gradient(to right, rgba(82, 124, 186, 0.95) 0%, rgba(42, 203, 251, 0.95) 100%);
}

.product-area-title {
  padding-bottom: 70px;
}

@media (max-width: 991px) {
  .product-area-title h2 br {
    display: none;
  }
  .contact-section::after {
    width: 100%;
    right: 0;
  }
  .contact-info {
    margin-bottom: 95px;
  }
}

.single-publish {
  margin-top: 30px;
}

.single-publish .top {
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.single-publish .top .line {
  display: inline-block;
  margin: 0 10px;
}

.card-section {
  position: relative;
  padding-bottom: 100px;
  z-index: 5;
  background-color: #222222;
}

.lab-card {
  position: relative;
  margin-top: -50px;
  padding: 50px 25px;
  text-align: center;
  background: #f5faf8;
  -webkit-box-shadow: 0 0 8px rgba(74, 74, 74, 0.1);
          box-shadow: 0 0 8px rgba(74, 74, 74, 0.1);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.lab-card .icon {
  margin-bottom: 30px;
  font-size: 70px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.lab-card h2 {
  text-transform: uppercase;
  font-size: 18px;
  color: #2b1640;
  margin-bottom: 30px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.lab-card p {
  color: #6c6e7e;
  line-height: 30px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.lab-card:hover {
  background: #00ff8c;
}

.lab-card:hover h2,
.lab-card:hover p,
.lab-card:hover .icon {
  color: #fff;
}

.single-publish {
  margin-top: 30px;
}

.single-publish .top {
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.single-publish .top .line {
  display: inline-block;
  margin: 0 10px;
}

.single-publish .top h6 a {
  color: #222222;
}


#blog {
  background-color: #222;
  padding-bottom: 50px;
}

.lines {
  margin-bottom: 30px;
}

.line1 {
    display: inline-block;
    width: 15px;
    height: 10px;
    border-radius: 15px;
    background-color: #00ff8c;
}

.line2 {
    display: inline-block;
    width: 25px;
    height: 10px;
    border-radius: 15px;
    background-color: #00ff8c;
}

.line3 {
    display: inline-block;
    width: 35px;
    height: 10px;
    border-radius: 15px;
    background-color: #00ff8c;
}

.blog-meta {
  color: #656565;
}

.top a:hover {
  color: #527cba;
}

.active-testimonial-carousel .single-testimonial {
  padding: 40px 20px;
  background: #fff;
  text-align: center;
}

.active-testimonial-carousel .single-testimonial img {
  display: inline-block !important;
  width: auto !important;
  margin-bottom: 30px;
  border-radius: 50%;
}

.active-testimonial-carousel .owl-dots {
  padding-top: 70px;
  margin-left: -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.active-testimonial-carousel .owl-dots .owl-dot {
  width: 14px;
  height: 14px;
  border: 2px solid #333;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  margin-left: 10px;
}

.active-testimonial-carousel .owl-dots .owl-dot.active {
  background: #333;
}

.service {
  margin-bottom: 90px;
}

.service,
.icon-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.service .icon,
.icon-box .icon {
  font-size: 40px;
  margin-right: 30px;
}

.service .service-text h2,
.service .icon-box-text h2,
.icon-box .service-text h2,
.icon-box .icon-box-text h2 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 400;
}

.service .service-text p,
.service .icon-box-text p,
.icon-box .service-text p,
.icon-box .icon-box-text p {
  font-size: 15px;
}

.service.light h2,
.service.light p,
.service.light .icon,
.icon-box.light h2,
.icon-box.light p,
.icon-box.light .icon {
  color: #fff;
}

.service.left,
.icon-box.left {
  text-align: right;
}

.service.left .icon,
.icon-box.left .icon {
  margin-left: 30px;
  margin-right: 0;
}

.spad {
  padding-bottom: 100px;
}

.promotion-section {
  background: #2acbfbf2;
  padding: 100px 0;
}

.promotion-section h2 {
  font-weight: 400;
  color: #fff;
  font-size: 48px;
  margin-bottom: 18px;
}

.promotion-section p {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0;
}

.promotion-section .promo-btn-area {
  text-align: right;
  padding-top: 15px;
}

.promotion-section2 {
  background: #ff0000;
  padding: 100px 0;
}

.promotion-section2 h2 {
  font-weight: 400;
  color: #fff;
  font-size: 48px;
  margin-bottom: 18px;
}

.promotion-section2 p {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0;
}

.promotion-section2 .promo-btn-area {
  text-align: right;
  padding-top: 15px;
}

.site-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  display: inline-block;
  padding: 15px 40px;
  font-weight: 500;
  letter-spacing: 1px;
  min-width: 170px;
  text-align: center;
  border: none;
  border-radius: 50px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.site-btn:hover {
  color: #fff;
  background: #00ff8c;
  border: 2px solid #00ff8c;
  box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
}

.site-btn2 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  display: inline-block;
  padding: 15px 40px;
  font-weight: 500;
  letter-spacing: 1px;
  min-width: 170px;
  text-align: center;
  border: none;
  border-radius: 50px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.site-btn2:hover {
  color: #222;
  background: #fff;
  border: 2px solid #00ff8c;
  box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
}

footer {
  background: #222222;
}

footer .footer-nav {
  margin-top: -7px;
}

footer .footer-nav li {
  margin-top: 8px;
}

footer .footer-nav li a:hover {
  color: #00ff8c;
}

.white-footer {
  background: #fff;
}

.white-footer .footer-nav {
  margin-top: -7px;
}

.white-footer .footer-nav li {
  margin-top: 8px;
}

.white-footer .footer-nav li a:hover {
  color: #222;
}

.white-footer .footer-bottom {
  color: #222;
  padding-top: 25px;
  padding-bottom: 25px;
}

.white-footer .footer-social a {
  color: grey
}

.white-footer .footer-social a:hover {
  color: #00ff8c;
}

.footer-bottom {
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-bottom .footer-text a:hover {
  color: #00ff8c;
}

.footer-social {
  margin-right: -5px;
}

.footer-social a {
  font-size: 18px;
  margin: 0 5px;
  padding: 0 5px;
  display: inline-block;
  color: grey
}

.footer-social a:hover {
  color: #00ff8c;
}

.post-item {
  margin-top: -50px;
  margin-bottom: 90px;
  padding: 50px;
  background: #fff;
}

.post-thumbnail {
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}

.post-content p {
  font-size: 18px;
  line-height: 2rem;
}

.post-thumbnail .post-date {
  position: absolute;
  width: 90px;
  height: 90px;
  background: #2acbfbf2;
  top: 17px;
  left: 17px;
  text-align: center;
  padding-top: 15px;
}

.post-thumbnail .post-date h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 5px;
}

.post-thumbnail .post-date h3 {
  font-size: 15px;
  color: #fff;
  margin-top: -10px;
  font-weight: 400;
}

.post-title {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 18px;
}

.post-meta {
  margin-bottom: 40px;
  color: #ccc;
}

.post-meta a {
  color: #ccc;
  font-size: 14px;
  position: relative;
  margin-left: 7px;
  margin-right: 7px;

}

.post-meta a:first-child {
  margin-left: 0;
}

.read-more {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #222;
  position: relative;
  display: inline-block;
  clear: both;
  padding: 10px 30px;
  margin-top: 40px;
  border: 2px solid #2be6ab;
  border-radius: 20px
}

.read-more:hover {
  color: #2be6ab;
}

.page-pagination a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #222;
  background: #fff;
  padding: 6px 12px;
  margin-right: 5px;
}

.page-pagination a:hover {
  color: #fff;
  background: #2acbfbf2;
}

.page-pagination a.active {
  background: #2acbfbf2;
  color: #fff;
}

.widget-item {
  background: #fff;
  padding: 25px;
  margin-bottom: 60px;
  margin-top: -50px;
  overflow: hidden;
}

.widget-item .widget-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.widget-item ul {
  list-style: none;
}

.widget-item ul li a {
  color: #222;
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
}

.widget-item ul li a:hover {
  color: #2be6ab;
}

.widget-item ul li:last-child a {
  margin-bottom: 0;
}

.widget-item ul.instagram {
  margin-left: -20px;
  margin-right: -17px;
}

.widget-item ul.instagram li {
  width: 33.33%;
  float: left;
  margin: 0px auto;

}

.widget-item ul.instagram li img {
  min-width: 100%;
}

.widget-item ul.tag li {
  display: inline-block;
  background: #2acbfbf2;
  padding: 10px 24px;
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
}

.widget-item ul.tag li a {
  color: #fff;
  margin-bottom: 0;
}

.widget-item .quote .quotation {
  display: block;
  color: #2be6ab;
  font-size: 60px;
  line-height: normal;
  margin-bottom: -20px;
}

.widget-item .quote p {
  font-size: 16px;
  line-height: 2rem;
}

.search-form {
  position: relative;
}

.search-form input[type="text"] {
  width: 100%;
  border: none;
  background: #eee;
  padding: 15px 20px;
}

.search-form input[type="text"]:focus,
.search-form input[type="text"]:hover {
  outline: none;
}

.search-form .search-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  display: block;
  right: 0;
  top: 0;
  border: 0;
  background: #2acbfbf2;
  color: #fff;
}

.search-form .search-btn:focus,
.search-form .search-btn:hover {
  outline: none;
}
